@model PlivackiCentarWeb.Models.GrupaViewModel

@using (Ajax.BeginForm("NovaGrupa", "Admin", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "novaGrupaForm"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>Unesite sljedeće detalje:</p>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Uzrast, new { @class = "form-control", @placeholder = "Uzrast" })
        @Html.ValidationMessageFor(m => m.Uzrast, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Vrsta, new { @class = "form-control", @placeholder = "Vrsta grupe" })
        @Html.ValidationMessageFor(m => m.Vrsta, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i><strong> Dodaj grupu</strong></button>
    </div>
}
