@model PlivackiCentarWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NERETVA | Registracija</title>

    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <img src="~/assets/image/NERETVA.png" width="250" />

            </div>
            <h3>Registracija je namijenjena isključivo za rekreativce. Korisnički nalozi za članove kluba su kreirani kroz osoblje plivačkog kluba "Neretva". Ukolko želite postati član našeg kluba, kontaktirajte nas ili nas posjetite.</h3>
            @using (Html.BeginForm("Register", "Guest", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @placeholder = "Ime" })
                    @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", @placeholder = "Prezime" })
                    @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Korisničko ime" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Lozinka" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Potvrda lozinke" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Završi registraciju</button>

                <p class="text-muted text-center"><small>Zaboravili ste lozinku? Kontaktirajte nas putem <a href="tel:036572572">036 572 572</a>.</small></p>
            }
            <p class="m-t"> <small>Plivacki Centar "Neretva" &copy; 2020</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/assets/js/jquery-3.1.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>

</body>

</html>
